.section-container{
	padding-top: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-bottom: 1em;
}

.col-inicio{
	color: #FFFAFB;
	border-radius: .8em;
	border: .1em solid #131515;
	padding: 2em 0;
}

.col-btn{
	text-align: center;
}
.btn-group-lg{
	width: 90%
}